<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>citycartzz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminconfirm</servlet-name>
    <jsp-file>/adminconfirmPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminconfirm</servlet-name>
    <url-pattern>/AdminConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admincreateDatabase</servlet-name>
    <jsp-file>/admincreateDatabase.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admincreateDatabase</servlet-name>
    <url-pattern>/AdminCreateDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminhomepage</servlet-name>
    <jsp-file>/adminhomepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminhomepage</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogfiledetails</servlet-name>
    <jsp-file>/adminlogfiledetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogfiledetails</servlet-name>
    <url-pattern>/AdminLogFileDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogfilelist</servlet-name>
    <jsp-file>/adminlogfilelist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogfilelist</servlet-name>
    <url-pattern>/AdminLogFileList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogin</servlet-name>
    <jsp-file>/adminlogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogout</servlet-name>
    <jsp-file>/adminlogout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminorderactions</servlet-name>
    <jsp-file>/adminorderactionspage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminorderactions</servlet-name>
    <url-pattern>/AdminOrderActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminordersearch</servlet-name>
    <jsp-file>/adminordersearchpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminordersearch</servlet-name>
    <url-pattern>/AdminOrderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminordersearchresults</servlet-name>
    <jsp-file>/adminordersearchresultspage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminordersearchresults</servlet-name>
    <url-pattern>/AdminOrderSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminordersummary</servlet-name>
    <jsp-file>/adminordersummary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminordersummary</servlet-name>
    <url-pattern>/AdminOrderSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminPreConfirmation</servlet-name>
    <jsp-file>/adminPreConfirmationPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPreConfirmation</servlet-name>
    <url-pattern>/AdminPreConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminreopenorder</servlet-name>
    <jsp-file>/adminreopenorder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminreopenorder</servlet-name>
    <url-pattern>/AdminReopenOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminstorefinaldetails</servlet-name>
    <jsp-file>/adminstorefinaldetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminstorefinaldetails</servlet-name>
    <url-pattern>/AdminStoreFinalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminTrackOrder</servlet-name>
    <jsp-file>/adminTrackOrder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTrackOrder</servlet-name>
    <url-pattern>/AdminTrackOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminTrackOrderDisplay</servlet-name>
    <jsp-file>/adminTrackOrderDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTrackOrderDisplay</servlet-name>
    <url-pattern>/AdminTrackOrderDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminverification</servlet-name>
    <jsp-file>/adminverification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminverification</servlet-name>
    <url-pattern>/AdminVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book</servlet-name>
    <jsp-file>/book.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>confirmPage</servlet-name>
    <jsp-file>/confirmPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmPage</servlet-name>
    <url-pattern>/Confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactusemail</servlet-name>
    <jsp-file>/contactusemail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactusemail</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fares</servlet-name>
    <jsp-file>/fares.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>fares</servlet-name>
    <url-pattern>/Fares</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedbackemail</servlet-name>
    <jsp-file>/feedbackemail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackemail</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreConfirmationPage</servlet-name>
    <jsp-file>/PreConfirmationPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreConfirmationPage</servlet-name>
    <url-pattern>/PreConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrackOrder</servlet-name>
    <jsp-file>/TrackOrder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackOrder</servlet-name>
    <url-pattern>/TrackOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trackorderdisplay</servlet-name>
    <jsp-file>/trackorderdisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>trackorderdisplay</servlet-name>
    <url-pattern>/TrackOrderDisplay</url-pattern>
  </servlet-mapping>
</web-app>